.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-theme {
  width: 200px;
  height: 150px;
  border: 1px solid grey;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}
