body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

div {
  margin-top: 20%;
}
