body {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.button {
  background-color: rgba(14, 14, 241, 0.642);
  border: none;
  border-radius: 6px;
  padding: 5px;
  color: white;
}
